* {
  margin: 0;
  padding: 0;
 }
 body {
   background-color:#3a3a3a;
   font-family: 'Raleway', sans-serif;
 }
 
 #container {
   position:relative;
   width:100%;
   margin:10px auto;
   background-color:black;
   /* box-shadow: -2px -2px 5px white,2px -2px 5px white; */
 }
 #container > nav {
   width:100%;
   display:flex;
   max-height:60px;
 }
 #logo {
   line-height:60px;
   font-size:25px;
   padding: 0 50px;
   color: white;
   width:40%;
   letter-spacing:2px;
   /* text-shadow:2px 2px 5px; */
 }
 #container > nav > ul {
   margin:0;
   /* paddding:0; */
   list-style-type:none;
   display:flex;
   position:absolute;
     right:50px;
 /*   min-width:60%; */
 }
 #container > nav > ul > li {
   line-height:60px;
   margin: 0 0px;
   padding:0;
   text-align:center;
   display:inline-block;
   
 /*   background-color:green; */
   min-width:120px;
 
 } 
 #container > nav > ul > li > a {
   position:relative;
 /*   background-color:red; */
   margin: 0 20px;
     color:white;
 }
 
 
 a {
   text-decoration:none;
 
 }




table, th,td{
color: aliceblue;
padding: 10px ;
border: 1px solid rgb(120, 120, 120);
/* margin: 0 auto;

/* width: auto; */
border-collapse: collapse;
/* padding-top: 10%; */
margin-top: 0 auto;
}

table{
margin: 0 auto;
padding: o auto;
}

.middle{
  color: #fff;
  font-size: 1.3em;
  justify-content: center;
  display: flex;
  margin: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.reset{
  width: 333px;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #5b5b5b;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

.reset:hover{
  background: #6d44b8;
}